.App {
  text-align: center;
}

* {
  margin: 0;
}
.form-heading {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(122, 15, 176);
  font-family: Sans-serif;
  font-size: 35px;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 8px;
}
.button {
  width: 170px;
  border-radius: 8px;
  font-family: "Roboto";
  font-size: 18px;
  color: rgb(31, 31, 186);
  margin-top: 19px;
  border: 2px rgb(122, 15, 176) solid;
  background-color: rgb(135, 202, 237);
}
.label {
  color: rgb(122, 15, 176);
  font-family: "Roboto";
  font-size: 20px;
}

.inputBox {
  height: 30px;
  width: 190px;
  border: 2px rgb(122, 15, 176) solid;
  border-radius: 5px;
}

.table-container {
  border: 2px rgb(255, 182, 251) solid;
  width: 60%;
  height: 25vh;
}

.heading-table {
  height: 34px;
  color: rgb(193, 156, 132);
  font-family: bold;
}

.buttons-tables {
  height: 33px;
  margin-left: 14px;
  margin-right: 14px;
  width: 70px;
  background-color: rgb(193, 244, 238);
  border: 2px rgb(72, 71, 67) solid;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}
